* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --body-font: times;
    --heading-font: arial;
    --accent1-color: skyblue;
    --primary-color: black;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 200px;
}

.hero article img {

    float: right;
    width: 35%;
    height: auto;
}

.hero article p {
    margin: 0%;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    height: 185px;

}

h1,
h2 {
    position: absolute;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

section p {
    position: relative;
    margin: 30px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 125px;
    height: auto;
}