* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --body-font: times;
    --heading-font: arial;
    --accent1-color: skyblue;
    --primary-color: black;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

nav {
    display: flex;
}

nav a {
    min-width: 95px;
    padding: 7px 15px;

    color: black;
    background-color: white;
    border: 1px solid black;

    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 200px;
}

.hero article img {

    float: right;
    width: 35%;
    height: auto;
}

.hero article p {
    margin: 0%;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    height: 185px;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.history {
    margin: 0 5px 12px;
    padding: 12px 30px 25px;

    border: 1px solid black;
    background-color: var(--accent1-color);
}

.history {
    display: grid;
    grid-template-columns: 1fr 140px 1fr;
    align-items: center;
    gap: 30px;
}

.history h2 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 22px;
    color: black;
}

.history p {
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
    color: black;
}

.history img {
    width: 140px;
    height: 90px;
    object-fit: cover;
}

.adventure {
    margin: 12px 0;
    padding: 10px 4% 18px;

    background-color: #f8f8f8;
    border: 1px solid #555;
}

.adventure h2 {
    text-align: center;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    align-items: start;
}

.adventure figure {
    margin: 0;
    text-align: center;
}

.adventure figure img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 5px;
}

.adventure figcaption {
    font-size: 13px;
    color: black;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

footer {
    color: black;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 125px;
    height: auto;
}